# Merge Files

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [2]:
file_path = r'C:\Users\ALEV PC\Desktop\Project\Data\Raw data\df_final_web_data_pt_1.txt'
df1 = pd.read_csv(file_path)
df1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [3]:
file_path = r'C:\Users\ALEV PC\Desktop\Project\Data\Raw data\df_final_web_data_pt_2.txt'
df2 = pd.read_csv(file_path)
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [4]:
df3 = pd.concat([df1, df2], axis=0)
df3.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [5]:
file_path = r'C:\Users\ALEV PC\Desktop\Project\Data\Raw data\df_final_experiment_clients.txt'
df_groups = pd.read_csv(file_path)
df_groups.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [6]:
df = pd.merge(df3, df_groups, on='client_id', how='inner')
df.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test

In [7]:
df = df.dropna(subset=['Variation'])
df

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
417650,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
417651,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
417652,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
417653,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
417654,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [16]:
custom_dict = {"start": 0, "step_1": 1, "step_2": 2, "step_3": 3, "confirm": 4}

# Sort the DataFrame
df_sorted = df.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

# Calculation: Shift 'process_step' column to get the next step
df_sorted['next_step'] = df_sorted.groupby(['client_id', 'visitor_id', 'visit_id'])['process_step'].shift(-1)

# Calculate step difference
df_sorted['step_diff'] = df_sorted['next_step'].map(custom_dict) - df_sorted['process_step'].map(custom_dict)

# Display the DataFrame
df_sorted

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,step_diff
70803,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,step_1,1.0
70802,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,step_2,1.0
70801,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,step_3,1.0
70800,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,confirm,1.0
70799,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,NaN,NaN
...,...,...,...,...,...,...,...,...
105420,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test,step_2,1.0
105419,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test,start,-2.0
105418,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test,NaN,NaN
341321,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,step_1,1.0
341320,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,NaN,NaN

In [19]:
# Count the number of occurrences of each unique value in the 'step_diff' column for Control group
control_step_diff_counts = control_df['step_diff'].value_counts()

# Count the number of occurrences of each unique value in the 'step_diff' column for Test group
test_step_diff_counts = test_df['step_diff'].value_counts()

# Display the counts for both groups
print("Step difference counts for Control group:")
print(control_step_diff_counts)

print("\nStep difference counts for Test group:")
test_step_diff_counts

Step difference counts for Control group:
step_diff
 1.0    84655
 0.0    16563
-1.0     6380
-2.0     1588
-3.0     1166
-4.0      481
 2.0      203
 3.0      178
 4.0        5
Name: count, dtype: int64

Step difference counts for Test group:

step_diff
 1.0    103428
 0.0     20140
-1.0     11864
-3.0      2280
-2.0      1866
 2.0       425
 3.0       369
-4.0       237
 4.0        34
Name: count, dtype: int64

# Error Rates Calculation

In [21]:
import pandas as pd

# Data for control group
control_data = {
    'step_diff': [1.0, 0.0, -1.0, -2.0, -3.0, -4.0, 2.0, 3.0, 4.0],
    'count': [84655, 16563, 6380, 1588, 1166, 481, 203, 178, 5]
}

# Data for test group
test_data = {
    'step_diff': [1.0, 0.0, -1.0, -3.0, -2.0, 2.0, 3.0, -4.0, 4.0],
    'count': [103428, 20140, 11864, 2280, 1866, 425, 369, 237, 34]
}

# Create DataFrames
control_df = pd.DataFrame(control_data)
test_df = pd.DataFrame(test_data)

# Calculate total count for each group
control_total = control_df['count'].sum()
test_total = test_df['count'].sum()

# Calculate percentage for each step difference count
control_df['percentage'] = (control_df['count'] / control_total) * 100
test_df['percentage'] = (test_df['count'] / test_total) * 100

# Display results
print("Percentage Step difference counts for Control group:")
print(control_df[['step_diff', 'percentage']])

print("\nPercentage Step difference counts for Test group:")
print(test_df[['step_diff', 'percentage']])

Percentage Step difference counts for Control group:
   step_diff  percentage
0        1.0   76.115592
1        0.0   14.892240
2       -1.0    5.736430
3       -2.0    1.427814
4       -3.0    1.048382
5       -4.0    0.432480
6        2.0    0.182523
7        3.0    0.160045
8        4.0    0.004496

Percentage Step difference counts for Test group:
   step_diff  percentage
0        1.0   73.539387
1        0.0   14.319945
2       -1.0    8.435542
3       -3.0    1.621126
4       -2.0    1.326764
5        2.0    0.302184
6        3.0    0.262366
7       -4.0    0.168512
8        4.0    0.024175

In [31]:
import pandas as pd

# Data for control group
control_data = {
    'step_diff': [1.0, 0.0, -1.0, -2.0, -3.0, -4.0, 2.0, 3.0, 4.0],
    'count': [84655, 16563, 6380, 1588, 1166, 481, 203, 178, 5]
}

# Data for test group
test_data = {
    'step_diff': [1.0, 0.0, -1.0, -3.0, -2.0, 2.0, 3.0, -4.0, 4.0],
    'count': [103428, 20140, 11864, 2280, 1866, 425, 369, 237, 34]
}

# Create DataFrames
control_df = pd.DataFrame(control_data)
test_df = pd.DataFrame(test_data)

# Calculate total count for each group
control_total = control_df['count'].sum()
test_total = test_df['count'].sum()

# Calculate percentage for each step difference count
control_df['percentage'] = (control_df['count'] / control_total) * 100
test_df['percentage'] = (test_df['count'] / test_total) * 100

# Display results
print("Percentage Step difference counts for Control group:")
print(control_df[['step_diff', 'percentage']])

print("\nPercentage Step difference counts for Test group:")
print(test_df[['step_diff', 'percentage']])

# Define file paths to save the results
control_file_path = "control_group_percentage.csv"
test_file_path = "test_group_percentage.csv"

# Write the results to CSV files
control_df[['step_diff', 'percentage']].to_csv(control_file_path, index=False)
test_df[['step_diff', 'percentage']].to_csv(test_file_path, index=False)

print(f"\nResults for Control group have been saved to '{control_file_path}' file.")
print(f"Results for Test group have been saved to '{test_file_path}' file.")

Percentage Step difference counts for Control group:
   step_diff  percentage
0        1.0   76.115592
1        0.0   14.892240
2       -1.0    5.736430
3       -2.0    1.427814
4       -3.0    1.048382
5       -4.0    0.432480
6        2.0    0.182523
7        3.0    0.160045
8        4.0    0.004496

Percentage Step difference counts for Test group:
   step_diff  percentage
0        1.0   73.539387
1        0.0   14.319945
2       -1.0    8.435542
3       -3.0    1.621126
4       -2.0    1.326764
5        2.0    0.302184
6        3.0    0.262366
7       -4.0    0.168512
8        4.0    0.024175

Results for Control group have been saved to 'control_group_percentage.csv' file.
Results for Test group have been saved to 'test_group_percentage.csv' file.

In [24]:
import pandas as pd

# Assuming the DataFrame is named df_sorted
# Filter rows where process_step is 'start', 'step_1', 'step_2', 'step_3', or 'confirm' and step_diff is not equal to 1.0
filtered_rows = df_sorted[(df_sorted['process_step'].isin(['start', 'step_1', 'step_2', 'step_3', 'confirm'])) & (df_sorted['step_diff'] != 1.0)]

# Count occurrences of each process_step
counts = filtered_rows['process_step'].value_counts()

# Display results
print("Number of times in 'start', 'step_1', 'step_2', 'step_3', or 'confirm' steps where step_diff was not 1.0:")
print(counts)

Number of times in 'start', 'step_1', 'step_2', 'step_3', or 'confirm' steps where step_diff was not 1.0:
process_step
start      44950
confirm    43227
step_1     18602
step_3     15041
step_2     11406
Name: count, dtype: int64

In [27]:
# Number of times in 'start', 'step_1', 'step_2', 'step_3', or 'confirm' steps where step_diff was not 1.0 in each variation: 



import pandas as pd

# Group the data by the 'Variation' column
grouped_df = df_sorted.groupby('Variation')

# Initialize dictionaries to store the counts for each variation
variation_counts = {}

# Iterate over each group
for variation, group in grouped_df:
    # Filter rows where process_step is 'start', 'step_1', 'step_2', 'step_3', or 'confirm' and step_diff is not equal to 1.0
    filtered_rows = group[(group['process_step'].isin(['start', 'step_1', 'step_2', 'step_3', 'confirm'])) & (group['step_diff'] != 1.0)]
    
    # Count occurrences of each process_step
    counts = filtered_rows['process_step'].value_counts()
    
    # Store the counts for the variation in the dictionary
    variation_counts[variation] = counts

# Display results for each variation
for variation, counts in variation_counts.items():
    print(f"For {variation} variation:")
    print(counts)

For Control variation:
process_step
start      21838
confirm    17505
step_3      7511
step_1      7338
step_2      4615
Name: count, dtype: int64
For Test variation:
process_step
confirm    25722
start      23112
step_1     11264
step_3      7530
step_2      6791
Name: count, dtype: int64

In [30]:
# Calculate rates for Control variation as percentages
control_rates_percentage = {process_step: (count / total_control) * 100 for process_step, count in control_counts.items()}

# Calculate rates for Test variation as percentages
test_rates_percentage = {process_step: (count / total_test) * 100 for process_step, count in test_counts.items()}

# Display results
print("Error Rates for Control variation:")
for process_step, rate in control_rates_percentage.items():
    print(f"{process_step}: {rate:.2f}%")

print("\nError Rates for Test variation:")
for process_step, rate in test_rates_percentage.items():
    print(f"{process_step}: {rate:.2f}%")

Error Rates for Control variation:
start: 37.14%
confirm: 29.77%
step_3: 12.77%
step_1: 12.48%
step_2: 7.85%

Error Rates for Test variation:
confirm: 34.56%
start: 31.06%
step_1: 15.14%
step_3: 10.12%
step_2: 9.13%

In [32]:
import csv

# Calculate rates for Control variation as percentages
control_rates_percentage = {process_step: (count / total_control) * 100 for process_step, count in control_counts.items()}

# Calculate rates for Test variation as percentages
test_rates_percentage = {process_step: (count / total_test) * 100 for process_step, count in test_counts.items()}

# Display results
print("Error Rates for Control variation:")
for process_step, rate in control_rates_percentage.items():
    print(f"{process_step}: {rate:.2f}%")

print("\nError Rates for Test variation:")
for process_step, rate in test_rates_percentage.items():
    print(f"{process_step}: {rate:.2f}%")

# Define file paths to save the results
control_file_path = "control_variation_error_rates.csv"
test_file_path = "test_variation_error_rates.csv"

# Write the error rates for Control variation to a CSV file
with open(control_file_path, mode='w', newline='') as control_file:
    writer = csv.writer(control_file)
    writer.writerow(["Process Step", "Error Rate (%)"])
    for process_step, rate in control_rates_percentage.items():
        writer.writerow([process_step, f"{rate:.2f}%"])

print(f"Error rates for Control variation have been saved to '{control_file_path}' file.")

# Write the error rates for Test variation to a CSV file
with open(test_file_path, mode='w', newline='') as test_file:
    writer = csv.writer(test_file)
    writer.writerow(["Process Step", "Error Rate (%)"])
    for process_step, rate in test_rates_percentage.items():
        writer.writerow([process_step, f"{rate:.2f}%"])

print(f"Error rates for Test variation have been saved to '{test_file_path}' file.")

Error Rates for Control variation:
start: 37.14%
confirm: 29.77%
step_3: 12.77%
step_1: 12.48%
step_2: 7.85%

Error Rates for Test variation:
confirm: 34.56%
start: 31.06%
step_1: 15.14%
step_3: 10.12%
step_2: 9.13%
Error rates for Control variation have been saved to 'control_variation_error_rates.csv' file.
Error rates for Test variation have been saved to 'test_variation_error_rates.csv' file.

In [33]:
from scipy.stats import ttest_ind

# Error rates for Control variation
control_error_rates = {
    'start': 37.14,
    'confirm': 29.77,
    'step_3': 12.77,
    'step_1': 12.48,
    'step_2': 7.85
}

# Error rates for Test variation
test_error_rates = {
    'confirm': 34.56,
    'start': 31.06,
    'step_1': 15.14,
    'step_3': 10.12,
    'step_2': 9.13
}

# Perform two-sample t-test
t_statistic, p_value = ttest_ind(list(control_error_rates.values()), list(test_error_rates.values()))

# Display the t-test results
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference between the error rates of Control and Test variations.")
else:
    print("Fail to reject the null hypothesis: There is no statistically significant difference between the error rates of Control and Test variations.")

t-statistic: -4.549928160846744e-16
p-value: 0.9999999999999997
Fail to reject the null hypothesis: There is no statistically significant difference between the error rates of Control and Test variations.

In [1]:
import scipy.stats as stats

# Define error rates for control and test variations
control_error_rates = [37.14, 29.77, 12.77, 12.48, 7.85]
test_error_rates = [31.06, 34.56, 15.14, 10.12, 9.13]

# Perform Mann-Whitney U test
mwu_stat, mwu_pvalue = stats.mannwhitneyu(control_error_rates, test_error_rates)

# Display the results
print("Mann-Whitney U test statistic:", mwu_stat)
print("Mann-Whitney U test p-value:", mwu_pvalue)

Mann-Whitney U test statistic: 12.0
Mann-Whitney U test p-value: 1.0